<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#ff9f7f">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/src/lib/scss/style.scss?compile{{'&nocache' if nocache}}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>{% block title %}{% endblock title %}</title>
  <!-- scripts -->
  <script src="/src/lib/js/lib.js?compile{{'&nocache' if nocache}}"></script>
  {% block scripts %}{% endblock scripts %}
</head>
<body>
  <header>
    {% include "../components/nav.html" %}
  </header>

  <main>
    <div class="sidenav">

    </div>

    <div class="page">
      {% block content %}{% endblock content %}
    </div>
  </main>

  <footer>

  </footer>
</body>
</html>